@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<style type="text/css">
    .indexBoxID { width: 50%;}
    .WrapperBox { width: 100%;
         height: 100%;
                  display: inline-flex;}
</style>

<div class="WrapperBox">
    <div class="indexBoxID">
        <h1><a asp-area="" asp-controller="Signup" asp-action="index">Click Here To Sign Up</a></h1>

    </div>
    <div class="indexBoxID">
        <h1><a asp-area="" asp-controller="Submissions" asp-action="index">Click Here To View Submissions</a></h1>
    </div>
</div>